- content_for :head do
  = render partial: 'experiments/turn_one_vs_turn_three'
- @title = 'Solitr - Play Solitaire online'
- @description = 'Solitr is an open-source Solitaire game that you can play in your browser for free. No download or registration necessary.'
#solitaireCanvas
javascript:
  App.Controllers.KlondikeTurnThree.setupGame();
= render :partial => 'instructions/klondike'
