<div class="adsense-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160 x 600 text -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px;"
     data-ad-client="ca-pub-4044178934398869"
     data-ad-slot="1208650030"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>